body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 40px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 5px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #ff4949;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card-inner {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.card-inner1 {
  display: flex;
  flex-direction: column;
  padding: 3px;
  border-radius: 5px;
  grid-column: span 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #00c0bc;
}

.card-inner2 {
  display: flex;
  flex-direction: column;
  padding: 3px;
  border-radius: 5px;
  grid-column: span 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #feae25;
}


.card-inner>.material-icons-outlined {
  font-size: 30px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.charts-card {
  background-color: #263043;
  grid-column: span 2;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 10px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }

  .menu-icon {
    display: inline;
  }
}


@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Toggle-switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-switch input {
  display: none;
}

.label {
  position: absolute;
  top: 0;
  left: 5px;
  width: 80%;
  height: 80%;
  background-color: #b5e4b7;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  padding-bottom: -30px;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Fan */
#fan-toggle:checked+.label {
  background-color: #e89933;
}

#fan-toggle:checked+.label .ball {
  transform: translateX(100%);
}

/* Light */

#light-toggle:checked+.label {
  background-color: #e89933;
}

#light-toggle:checked+.label .ball {
  transform: translateX(100%);
}